a:link    { color: #000000;}
a:visited { color: #0b7512;}
a:hover   { color: #FFFFFF;}
a:active  { color: #0c1be9;}

body {
  height: 100%
	background-color:#F8FFF0; 
}

.btn {
  display: inline-block;
  font-family: courier new, monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 6px;
  padding: 6px 6px;
  border-radius: 6px;
}

.btn-nav {
  color: #000;
  background-color: #D7F0B4;
  border-color: #D7F0B4;
}

.center {
  text-align: center}

.column {
  float: left;
  width: 25%;
}

footer {
  height: 100px;
	background-color:#D7F0B4;
}

footer p {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}

header {
	background-image: url("images/sustainablecityheader.jpg");
  background-size: 100% 250px;
  }

h1 {
  font-family: courier new, monospace;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 0px
}

h2, h3, p {
  font-family: courier new, monospace;}

hr {
  margin-left: 175px;
  margin-right: 175px;
}

.img-rounded {
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
}

.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav {
  font-family: courier new, monospace;
  padding-top: 0px;
  padding-bottom: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;  
}

.wrapper {
margin-right: auto;
margin-left: auto; 
max-width:1160px;
padding-right: 10px; 
padding-left: 10px; 
}


