body {
	background-color: #99C29C; /*mint green*/
  margin: 0;
}
header {
	height: 250px;
	background-color: #3D6A3F; /*dark green; same as footer*/
}
footer {
	background-color: #3D6A3F; /*dark green; same as header*/
}

/* The following CSS properties:

background, color, font-family, font-size,
height, margin, padding, text-align

Styled links using pseudo-classes
*/

.wow {
  width: 100px;
}
