body {
	background-color: #1f561d; /*green*/
  margin: 0;
}
header {
	height: 140px;
	background-color: #133412; /*dark green; same as footer*/
}
footer {
	background-color: #133412; /*dark green; same as header*/
}

.right { 
	text-align: right}

a:link    { color: #2c7929;}
a:visited { color: #4c9949;}
a:hover   { color: #1f561d; }
a:active  { color: #061106;  }
/* The following CSS properties:

#061106	dark green almost black
#133412	dark green
#1f561d	green
#2c7929	bright green
#4c9949 light green

background, color, font-family, font-size,
height, margin, padding, text-align

Styled links using pseudo-classes
*/

.wow {
  width: 100px;
}
